spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/negociofechado
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always

logging:
  level:
    com.negociofechado: DEBUG
    org.springframework.security: DEBUG
